<div class="container">  
  <%= render @post %>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>


  <h1> comments </h1>


  <turbo_frame id="comments">
    <%= turbo_stream_from "comments" %>
    <%= render partial: 'comments/comment', collection: @post.comments, as: :comment %>
  </turbo_frame>

  <%= render partial:'comments/form', locals: {commentable: @post, comment: Comment.new}%>



</div>


