<div class="container">  
  <%= render @post %>

  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>


  <h1> comments </h1>

  <%= render @post.comments, as: :comment %>

  <%= render partial:'comments/form', locals: {commentable: @post, comment: Comment.new}, as: :comment %>



</div>
